.boton{
	padding: 12px 24px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #888;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    place-items: center;
}